<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/folder/Home"></ion-back-button>
  </ion-buttons>
    <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <div style="left: 3%;">
      <ion-label style="font-size: 25px;">80%</ion-label>
      <img style="height: 25px;" src="/assets/imgs/battery-half-outline.svg">
      <img style="height: 25px;" src="/assets/imgs/battery-charging-outline.svg">
    </div>
    <ion-list-header>Potato</ion-list-header>
    <ion-avatar class="ion-margin-start">
      <img src="/assets/imgs/doge2.png">
    </ion-avatar>
    <ion-chip class="ion-margin-start">
      <ion-label>Age : 3</ion-label>
    </ion-chip>
    <ion-chip class="ion-margin-start">
      <ion-label>Sex : boy</ion-label>
    </ion-chip>
    <ion-chip class="ion-margin-start">
      <ion-label>Character : open</ion-label>
    </ion-chip>

    <ion-list>
      <ion-list-header>Health</ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/imgs/thermometer-outline.svg">
        </ion-avatar>
        <ion-label>  38  ℃</ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/imgs/fitness-outline.svg">
        </ion-avatar>
        <ion-label>
          <ion-label>110 bpm</ion-label>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/imgs/nose.png">
        </ion-avatar>
        <ion-label>
          <ion-label>2 %</ion-label>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
